@import 'variables';
@import '../components/forecast/index';
@import '../components/forecast-day/index';
@import '../components/forecast-hour/index';

body {
  background-color: $background-color;
  font-family: $font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $color-primary;
}
